/******************************************************************
Stylesheet: Large Monitor Stylesheet
******************************************************************/

#inner-content {
	max-width: 700px;
	margin: 0 auto;
}