/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {

	> ul {
		margin: 10px 0;
	}

	li {
		position: relative;
		margin-top: 4px;

		a {
			display: inline-block;
			border-bottom: 0;
		}

		.button {
			font-size: 12px;
			padding: 2px 6px;
		}
		&.current-menu-item .button {
			border-color: lighten($theme-color, 7%);
			background-color: lighten($theme-color, 10%);
		}

		&:first-child {
			margin-top: 0;
		}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
				}

				&:last-child {
					a {
						border-bottom: 0;
					}
				}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
POSTS & CONTENT STYLES
*********************/
.entry-content {
	font-size: 1.375em;
	font-weight: 400;
}
.entry-title {
	font-size: 3.25em;
}
.entry-subtitle {
	font-size: 2em;
}