/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #333332;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: #333332;
	text-decoration: underline;

	/* on hover */
	&:hover, &:focus {
		color: $theme-color;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 700;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
EASY TRANSITIONS
*********************/
.t02 {
	@include transition(all 0.2s);
}
.t05 {
	@include transition(all 0.5s);
}

/*********************
NAVIGATION STYLES
*********************/

.nav {

	li {
		a {
			display: block;
		}

		ul.sub-menu,
		ul.children {
			li a {
				padding-left: 30px;
			}
		}

	} /* end .menu li */

} /* end .nav */

/*********************
THE LOOP
*********************/

.loop .h2 {
	font-size: 32px;
	margin: 0;
	line-height: 1.3;
	padding-bottom: 6px;
}
.loop .entry-content {
	font-size: 18px;
	padding-bottom: 6px;
	margin-top: 0;
}
.loop p {
	margin: 0;
}
.loop .article-footer {
	padding-top: 2px;
	padding-bottom: 6px;
}
.loop .hentry + .hentry {
	margin-top: 30px;
	border-top: 1px solid #eee;
	padding-top: 30px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	padding: 20px;
}
#inner-content {
	margin: 0 auto;
	position: relative;
	right: 0;
	@include transition(right 0.2s);
}

.entry-title {
	line-height: 100%;
	font-weight: 700;
	margin: 0;
}
.entry-subtitle {
	font-family: $serif;
	font-weight: 400;
	font-style: italic;
	color: #333332;
	margin: 20px 0;
	line-height: 1.2;
}

/* entry content */
.entry-content {
	margin-top: 20px;

	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}

	blockquote {
		font-weight: 400;
		font-style: italic;
		border-left: 6px solid $theme-color;
		padding-left: 20px;
		padding-bottom: 3px;
		margin: -1px 0 0 0;

		p {
			margin: 1em 0 0 0;
			&:first-child {
				margin-top: 0;
			}
		}
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	position: relative;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		vertical-align: top;
	}
	.img-border {
		border: 1px solid #eee;
		display: inline-block;
	}
}

.wp-caption-text {
	margin: 12px 0 6px;
	font-size: 14px;
	font-style: italic;
	color: #666665;
}


.byline {
	color: #999;
	margin-top: 30px;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

/******************************************************************
ARCHIVE STYLES
******************************************************************/

.excerpt-read-more {
	display: none;
}
.archive-title { 
	height: 40px;
	border-top: 1px solid #dededc;
	border-bottom: 1px solid #dededc;
	margin-bottom: 30px;
	.h2 {
		font-size: 14px;
		font-weight: 400;
		color: #999;
		span {
			font-weight: 700;
		}
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                }
                a:hover, a:focus {
                    
                }
            }
        }
    } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.blog-side {
	margin-bottom: 30px;
}
.blog-img {
	margin: 0 20px 0 0;
	float: left;
	&:hover {
		opacity: 0.8;
	}
	a {
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 60px;
	}
	img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
	}
}
.blog-author {
	font-size: 16px;
	margin: 0;
}
.blog-desc {
	font-size: 0.875em;
	line-height: 1.4;
	color: #666665;
	word-wrap: break-word;
	font-style: italic;
	margin-top: 2px;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
}

/*********************
PAGE-SPECIFIC
*********************/
#post-not-found {
	h1 {
		margin: 0;
		line-height: 1;
	}
}
